<h1>Listing things</h1>
 
<table>
  <tr>
    <th>thing's date</th>
    <th>value</th>
    <th colspan="2"></th>
  </tr>
 
  <% @things.sort_by(&:date).each do |thing| %>
    <tr>
      <td><%= thing.date %></td>
      <td class="<%= value_color(thing) %>" ><%= thing.value %></td>
      <td><%= link_to 'Show', thing_path(thing) %> | <%= link_to 'Edit', edit_thing_path(thing) %></td>
    </tr>
  <% end %>
</table>

</br>

<table>
    <tr>
      <th>Metadata</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Average</td>
      <td><%= Thing.average(:value) %></td>
    </tr>
    <tr>
      <td>% Success</td>
      <td><%= Thing.success_perc %></td>
    </tr>
</table>

<% Thing.graph %>
<%= image_tag 'blah.png' %>

</br>

<%= link_to 'New thing', new_thing_path %>
