<h1>New Thing Entry</h1>

<%= form_for :thing, url: things_path do |f| %>
  <p>
    <%= f.label :date %><br>
    <%= f.text_field :date %>
  </p>
 
  <p>
    <%= f.label :value %><br>
    <%= f.text_field :value %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
